# .NET build outputs
**/bin/
**/obj/
backend/obj
backend/wwwroot/uploads/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / VS Code
.vs/
.vscode/

# ASP.NET Core secrets (IMPORTANT)
secrets.json
appsettings.*.json

# EF Core migrations local artifacts (optional but common)
*.db
*.sqlite

# OS junk
.DS_Store
Thumbs.db

# logs
*.log

# publish output
publish/

# Front end env
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?